@font-face {
  font-family: 'HankenGrotesk';
  src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* @font-face {
    font-family: 'HankenGrotesk';
    src: url('assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} */

/* @font-face {
    font-family: 'HankenGrotesk';
    src: url('assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HankenGrotesk", sans-serif;
    font-weight: 500;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > div {
    width: 310px;
    background-color: hsl(240, 33%, 97%);
}

/* first container */
body > div > div:first-child {
    width: 310px;
    padding: 25px 30px;
    text-align: center;
    background-color: #4a48d5;
    border-radius: 0 0 20px 20px;
}

h1 {
    font-size: 1rem;
    font-weight: 600;
    color: hsl(253, 80%, 84%);
}

/* circle */
body > div > div:first-child > div:first-of-type {
    background: linear-gradient(180deg, rgb(29 68 166) 71%, rgb(85 83 222) 106%);
    width: 110px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 50%;
}

/* 76 */
body > div > div > div:first-of-type > div:first-child {
    font-family: 'HankenGrotesk';
    font-size: 3.1rem;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

/* of 100 */
body > div > div:first-child > div:first-of-type > div:nth-child(2) {
    font-size: 0.8rem;
    color: hsl(253, 80%, 84%);
}

/* great */
body > div > div:first-child > div:nth-child(3) {
    font-family: 'HankenGrotesk';
    font-size: 1.3rem;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
}

p {
    font-size: 0.9rem;
    color: hsl(253, 80%, 84%);
    margin: 10px 0;
}

h3 {
    margin: 20px 0 20px 25px;
    color: hsl(224, 25%, 21%);
    font-weight: 700;
    font-size: 1rem;
}

body > div > div:nth-child(3),
body > div > div:nth-child(4),
body > div > div:nth-child(5),
body > div > div:nth-child(6) {
    display: flex;
    justify-content: space-between;
    width: 275px;
    padding: 12px;
    margin: 0 auto 15px;
    border-radius: 10px;
}

body > div > div:nth-child(3) > div:first-child,
body > div > div:nth-child(4) > div:first-child,
body > div > div:nth-child(5) > div:first-child,
body > div > div:nth-child(6) > div:first-child {
    width: 95px;
    display: flex;
}

body > div > div:nth-child(3) {
    color: hsl(0, 100%, 67%);
    background-color: hsl(0, 75%, 95%);
}

body > div > div:nth-child(4) {
    color: hsl(39, 100%, 56%);
    background-color: hsl(43, 81%, 94%);
}

body > div > div:nth-child(5) {
    color: hsl(166, 100%, 37%);
    background-color: hsl(160, 64%, 95%);
}

body > div > div:nth-child(6) {
    color: hsl(234, 85%, 45%);
    background-color: hsl(210, 29%, 95%);
}

img {
    margin-right: 10px;
}

span {
    color: hsl(225, 32%, 25%);
    font-weight: 700;
}

span:last-child {
    color: hsl(249, 7%, 64%);
}

button {
    display: flex;
    justify-content: center;
    background-color: hsl(224, 30%, 27%);
    font-size: 1rem;
    color: hsl(221, 100%, 96%);
    width: 275px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 20px;
    border: none;
}

button:hover {
    background-color: hsl(241, 63%, 56%);
    cursor: pointer;
}
